{% extends "flatpages/default.html" %}


{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
Все мои Комментарии
{% endblock title %}
 

{% block content %}
    <h3>{% current_time '%m/%d/%Y, %H:%M:%S' %}</h3>
    <hr>
    {% if commentsown%}
    <p>Комментарии</p>
    <table>
        {% for comment in commentsown %}
            <hr>
            <tr><p>Заголовок поста: {{ comment.post.title|safe }}</p></tr>
            <tr><p>Автор комментария: {{ comment.person|safe }}</p></tr>
            <tr><p>Текст комментария: {{ comment.text|safe }}</p></tr>
            <tr><p>Дата публикации: {{ comment.create_date|safe }}</p></tr>
            <tr><p>Статус принятия автором поста: {{ comment.is_fix|safe }}</p></tr>
            <tr><p><a href="{{ comment.pk }}/update/">Опубликовать комментарий</a></p></tr>
            <tr><p><a href="{{ comment.pk }}/delete/">Удалить комментарий</a></p></tr>
            
            
            <hr>
        {% endfor %}
    </table>
    {% else %}
        <h2>
            Комментариев нет!
        </h2>
    {% endif %}

    
{% endblock content %}