{% extends "flatpages/default.html" %}


{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
Все посты
{% endblock title %}
 

{% block content %}
    <h1>Great Wall</h1>
    <h2>{{ attention }}</h2>
    {% if perms.simpleapp.add_product %}
        <h2><a href="create">Не можешь молчать? Поделись своими мыслями!</a></h2>
    {% endif %}
    <h3>{% current_time '%m/%d/%Y, %H:%M:%S' %}</h3>
    {% if posts%}
    <table>
        {% for post in posts %}
            <tr><a href="/posts/{{ post.pk }}">{{ post.title|safe }}</a></tr>
            <tr>{{ post.text|safe }}</tr>
            <tr><p>Автор: {{ post.person|safe }}</p></tr>
            <tr><p>Категория объявления: {{ post.category|safe }}</p></tr>
            <tr><p>Дата создания: {{ post.create_date|safe }}</p></tr>
            <tr><p><a href="{{ post.pk }}/comment/">Оставить комментарий</a></p></tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>
            Постов нет!
        </h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    {% endif %}

        {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
    {% endif %}
{% endblock content %}