{% extends "flatpages/default.html" %}


{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
Все посты
{% endblock title %}
 

{% block content %}
    <h1>Все посты</h1>
    <h2>{{ attention }}</h2>
    <h3>{% current_time '%m/%d/%Y, %H:%M:%S' %}</h3>
    {% if posts%}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Текст</td>
            <td>Автор</td>
            <td>Класс автора</td>
            <td>Дата создания</td>
        </tr>

        {% for post in posts %}
        <tr>
            <td><a href="/posts/{{ post.pk }}">{{ post.title|safe }}</a></td>
            <td>{{ post.text|safe }}</td>
            <td>{{ post.person|safe }}</td>
            <td>{{ post.person.category|safe }}</td>
            <td>{{ post.create_date|safe }}</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
        <h2>
            Постов нет!
        </h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    {% endif %}

        {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
    {% endif %}
{% endblock content %}